version: '3.8'

services:
  haproxy:
    image: haproxy:{{ marzban_haproxy_image_tag }}
    restart: always
    network_mode: host
    user: root
    volumes:
      - {{ marzban_haproxy_dirs | json_query('[*].etc_dir') | first }}/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - {{ marzban_system_dirs | json_query('[*].work_dir') | first }}:/var/lib/marzban
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - marzban

  marzban:
    image: gozargah/marzban:{{ marzban_image_tag }}
    restart: always
    env_file: .env
    network_mode: host
    volumes:
      - {{ marzban_system_dirs | json_query('[*].work_dir') | first }}:/var/lib/marzban
      - /etc/localtime:/etc/localtime:ro
