version: '3.8'

services:
  haproxy:
    image: {{ marzban_haproxy_image }}:{{ marzban_haproxy_image_tag }}
    restart: always
    network_mode: host
    user: root
    volumes:
      - {{ marzban_haproxy_dirs | json_query('[*].etc_dir') | first }}/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - {{ marzban_system_dirs | json_query('[*].work_dir') | first }}:/var/lib/marzban
{% if marzban_auto_cert is defined and marzban_auto_cert %}
      - certbot_webroot:/var/www/certbot:ro
{% endif %}
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - marzban
{% if marzban_auto_cert is defined and marzban_auto_cert %}
      - certbot
{% endif %}

{% if marzban_auto_cert is defined and marzban_auto_cert %}
  certbot:
    image: certbot/certbot:latest
    restart: unless-stopped
    volumes:
      - ./certbot-exec.sh:/tmp/certbot-exec.sh
      - certbot_conf:/etc/letsencrypt
      - certbot_webroot:/var/www/certbot
      - {{ marzban_system_dirs | json_query('[*].work_dir') | first }}/certs:/etc/letsencrypt/live/{{ marzban_domain }}:rw
      - /etc/localtime:/etc/localtime:ro
{% if marzban_cert_dns_provider is defined and marzban_cert_challenge_method == "dns" %}
      - certbot_secrets:/etc/letsencrypt/secrets:ro
{% endif %}
    entrypoint: ["/tmp/certbot-exec.sh"]
    env_file: .env

{% if marzban_cert_dns_provider is defined and marzban_cert_challenge_method == "dns" %}
    depends_on:
      - certbot-dns-credentials

  certbot-dns-credentials:
    env_file: .env
    image: alpine:latest
    restart: "no"
    volumes:
      - certbot_secrets:/secrets
      - ./certbot-creds.sh:/tmp/certbot-creds.sh
    entrypoint: ["/tmp/certbot-creds.sh"]
{% endif %}
{% endif %}

  marzban:
    image: {{ marzban_image }}:{{ marzban_image_tag }}
    restart: always
    env_file: .env
    network_mode: host
    volumes:
      - {{ marzban_system_dirs | json_query('[*].work_dir') | first }}:/var/lib/marzban
      - /etc/localtime:/etc/localtime:ro
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
{% if marzban_mysql_instance is defined and marzban_mysql_instance %}
    depends_on:
      mariadb:
        condition: service_healthy

  mariadb:
    image: {{ marzban_mysql_image }}:{{ marzban_mysql_image_tag }}
    restart: always
    env_file: .env
    network_mode: host
    command:
      - --bind-address=127.0.0.1
      - --character_set_server=utf8mb4
      - --collation_server=utf8mb4_unicode_ci
      - --host-cache-size=0
      - --innodb-open-files={{ marzban_mysql_innodb_open_files }}
      - --innodb-buffer-pool-size={{ marzban_mysql_innodb_buffer_pool_size }}
      - --innodb_log_file_size={{ marzban_mysql_innodb_log_file_size }}
      - --binlog_expire_logs_seconds={{ marzban_mysql_binlog_expire_logs_seconds }}
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
{% endif %}

volumes:
{% if marzban_mysql_instance is defined and marzban_mysql_instance %}
  mariadb_data:
    name: mariadb_data
{% endif %}
{% if marzban_auto_cert is defined and marzban_auto_cert %}
  certbot_conf:
    name: certbot_conf
  certbot_webroot:
    name: certbot_webroot
{% if marzban_cert_dns_provider is defined and marzban_cert_challenge_method == "dns" %}
  certbot_secrets:
    name: certbot_secrets
{% endif %}
{% endif %}
